*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
.parent{
    max-width: 800px;
    height: 700px;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    gap: 10px;
    border:1px solid black;

    
}

.child1{
    /* grid-column-start:1;
    grid-column-end: 3; */
    grid-column: 1/3;
    /* grid-row-start:1 ;
    grid-row-end: 3; */
    grid-row: 1/3;
    background-color:brown;

}
.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color:skyblue;
}
.child3{
    grid-column:1/3;
    grid-row: 3/4;
    background-color: coral;
}
.child4{
    grid-column:2/3;
    grid-row: 3/4;
    background-color:palegreen;
}
.child5{
grid-column:3/4;
grid-row:2/5;
background-color: blue;
}
.child6{
grid-column:4/5;
grid-row:2/5;
background-color: chocolate;
}
.child7{
grid-column:1/3;
grid-row:4/5;
background-color:green;
}