*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color: lightgrey;
}

/* Layout container */
.container{
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar{
    width: 300px;
    background-color: rgb(196, 52, 121);
    padding: 20px;
}

/* Main */
.main{
    flex: 1;
    text-align: center;
    padding: 20px;
}

.row{
    display:flex;
    justify-content: space-around;
    margin-top:40px;
    flex-wrap: wrap;
}

/* Cards */
.card{
    width:250px;
    height: 250px;
    padding:10px;
    text-align:center;
    margin-bottom:20px;
    border-radius:10px;
    background-color:orange;
}