*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#e6e6e6;
}

/* GRID CONTAINER */
.parent{
    max-width:900px;
    margin:80px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(3,1fr);
   
}

/* ---------- child1 ---------- */
.child1{
    grid-column:1/3;
    grid-row:1/2;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:white;
}

.child1 img{
    height:280px;
}

.small{
    font-size:12px;
    color:gray;
}

.child1 h3{
    margin:10px 0;
}

/* ---------- child2 ---------- */
.child2{
    grid-column:3/5;
    grid-row:1/2;
    background:#f2f2f2;
    text-align:center;
    padding:40px;
}

.child2 h1{
    font-size:26px;
    margin:20px 0;
}

.child2 a{
    color:purple;
    text-decoration:none;
    font-weight:bold;
}

/* ---------- child4 ---------- */
.child4{
    grid-column:1/2;
    grid-row:2/3;
    background:#f54724;
    color:white;
    text-align:center;
    padding:30px;
}

.child4 img{
    height:120px;
}

.child4 .learn{
    color:yellow;
    margin-top:10px;
}

/* ---------- child5 ---------- */
.child5{
    grid-column:2/4;
    grid-row:2/3;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
}

.child5 .left,
.child5 .right{
    width:48%;
}

.child5 img{
    height:120px;
    margin-top:10px;
}

.child5 a{
    color:blue;
    text-decoration:none;
    font-weight:bold;
}

/* ---------- child6 ---------- */
.child6{
    grid-column:4/5;
    grid-row:2/4;
    background:#8c6dd7;
    color:white;
    text-align:center;
    padding:30px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.child6 img{
    height:200px;
    border-radius: 200px;
}

.child6 button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:yellow;
    font-weight:bold;
    cursor:pointer;
}

/* ---------- child7 ---------- */
.child7{
    grid-column:1/2;
    grid-row:3/4;
    background:white;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.child7 img{
    height:100px;
}

/* ---------- child8 ---------- */
.child8{
    grid-column:2/4;
    grid-row:3/4;
    background:#7fb3b5;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.child8 img{
    height:140px;
    margin-top:10px;
}

/* ---------- Responsive ---------- */
@media(max-width:768px){
    .parent{
        grid-template-columns:1fr;
        grid-template-rows:auto;
    }
    .parent > div{
        grid-column:auto !important;
        grid-row:auto !important;
    }
}